<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MedicalTracker</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MedicalUser</display-name>
    <servlet-name>MedicalUser</servlet-name>
    <servlet-class>com.r3sys.medical.MedicalUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicalUser</servlet-name>
    <url-pattern>/MedicalUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Hospitaluser</display-name>
    <servlet-name>Hospitaluser</servlet-name>
    <servlet-class>com.r3sys.medical.Hospitaluser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hospitaluser</servlet-name>
    <url-pattern>/Hospitaluser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClinicUser</display-name>
    <servlet-name>ClinicUser</servlet-name>
    <servlet-class>com.r3sys.medical.ClinicUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClinicUser</servlet-name>
    <url-pattern>/ClinicUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonUser</display-name>
    <servlet-name>PersonUser</servlet-name>
    <servlet-class>com.r3sys.medical.PersonUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonUser</servlet-name>
    <url-pattern>/PersonUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Medicine</display-name>
    <servlet-name>Medicine</servlet-name>
    <servlet-class>com.r3sys.medical.Medicine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Medicine</servlet-name>
    <url-pattern>/Medicine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUser</display-name>
    <servlet-name>AdminUser</servlet-name>
    <servlet-class>com.r3sys.medical.AdminUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUser</servlet-name>
    <url-pattern>/AdminUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClinicLog</display-name>
    <servlet-name>ClinicLog</servlet-name>
    <servlet-class>com.r3sys.medical.ClinicLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClinicLog</servlet-name>
    <url-pattern>/ClinicLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HospitalLog</display-name>
    <servlet-name>HospitalLog</servlet-name>
    <servlet-class>com.r3sys.medical.HospitalLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HospitalLog</servlet-name>
    <url-pattern>/HospitalLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonLog</display-name>
    <servlet-name>PersonLog</servlet-name>
    <servlet-class>com.r3sys.medical.PersonLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonLog</servlet-name>
    <url-pattern>/PersonLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MedinicLog</display-name>
    <servlet-name>MedinicLog</servlet-name>
    <servlet-class>com.r3sys.medical.MedinicLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedinicLog</servlet-name>
    <url-pattern>/MedinicLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MedicalLog</display-name>
    <servlet-name>MedicalLog</servlet-name>
    <servlet-class>com.r3sys.medical.MedicalLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicalLog</servlet-name>
    <url-pattern>/MedicalLog</url-pattern>
  </servlet-mapping>
</web-app>